services:
  postgres:
    image: postgres:17.5
    container_name: gochive_db
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}
      - POSTGRES_DB=${DB_NAME}
    volumes:
      - data:/var/lib/postgresql/data

  gochive:
    build:
      context: .
      dockerfile: Dockerfiles/Dockerfile.app
    container_name: gochive_app
    ports:
      - "0.0.0.0:8080:8080"
    environment:
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PASS}
      - HOST=${HOST}
      - PORT=${PORT}
    depends_on:
      - postgres
      
volumes:
  data:
    driver: local
