services:
  postgres:
    image: postgres:17.5
    container_name: gochive_db
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}
      - POSTGRES_DB=${DB_NAME}
    volumes:
      - data:/var/lib/postgresql/data

  gochive:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: gochive_app
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    env_file: ".env.docker"
          
volumes:
  data:
    driver: local
