<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/favicon.ico">
    <title>PDF Viewer</title>
    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            overflow: hidden; 
        }

        iframe {
            width: 100%;
            height: 100%;
            border: none;
            filter: invert(100%); 
            background-color: black; 
        }
    </style>
</head>
<body>

</body>
</html>
<script type="text/javascript">

  const params = new URLSearchParams(document.location.search);
  const file = params.get("file");

  if (file) {
      const iframe = document.createElement('iframe');
      iframe.id = "pdfViewer"
      iframe.src = "/get_file/" + file;
      document.body.appendChild(iframe);
  }

</script>
